<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ExtraBite Homepage</title>
    <meta property="og:url" content="http://extrabite.io"/>
    <meta property="og:title" content="ExtraBite Homepage"/>
    <meta property="og:description" content="Cool tools for After Effects: GifGun / Origami / GoodParents"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/main_page/bigstock1374243141_more.jpg"/>
    <meta property="fb:app_id" content="257953674358265"/>

    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="Cool tools for After Effects: GifGun / Origami / GoodParents"/>

    <link rel="canonical" href="http://extrabite.io/">
    <link rel="shortcut icon" href="static/main_page/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/main_page/tildagrid.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/main_page/main_page.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/static/main_page/tilda-forms.js"></script>
</head>

<body class="t-body" style="margin:0;">
<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="22102"
     data-tilda-page-id="80650">
    <div id="rec11165241" class="r" style="background-color:#0a0a0a; " data-animationappear="off" data-record-type="257"
         data-bg-color="#0a0a0a">

        <!-- T228 -->
        <div id="nav11165241marker"></div>
        <div id="nav11165241" class="t228  t228__positionfixed " style="background-color: rgba(10,10,10,1);  "
             data-bgcolor-hex="#0a0a0a" data-bgcolor-rgba="rgba(10,10,10,1)" data-navmarker="nav11165241marker"
             data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"
             data-menu-items-align="right" data-menu="yes">
            <div class="t228__maincontainer " style="">
                <div class="t228__padding40px"></div>

                <div class="t228__leftside">
                    <div class="t228__leftcontainer">
                        <a href="http://extrabite.io" style="color:#ffffff;"><img
                                src="/static/main_page/ebLogo.png"
                                class="t228__imglogo " imgfield="img" alt=""></a></div>
                </div>

                <div class="t228__centerside t228__menualign_right">
                    <div class="t228__centercontainer">
                        <ul class="t228__list ">
                            <li class="t228__list_item"><a href="/gifgun"
                                                           style="color:#ffffff;font-weight:600;"
                                                           data-menu-item-number="1">GifGun</a></li>
                            <li class="t228__list_item"><a href="http://aescripts.com/origami"
                                                           style="color:#ffffff;font-weight:600;"
                                                           data-menu-item-number="2">Origami</a></li>
                            <li class="t228__list_item"><a href="http://aescripts.com/goodparents"
                                                           style="color:#ffffff;font-weight:600;"
                                                           data-menu-item-number="3">Good Parents</a></li>
                            <li class="t228__list_item"><a href="/about"
                                                           style="color:#ffffff;font-weight:600;"
                                                           data-menu-item-number="4">About Us</a></li>

                        </ul>
                    </div>
                </div>

                <div class="t228__rightside">
                    <div class="t228__rightcontainer">
                        <div class="t228__right_social_links">
                            <div class="t228__right_social_links_wrap">
                                <div class="t228__right_social_links_item">
                                    <a href="https://www.twitter.com/extrabitesoft" target="_blank">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                              <path style="fill:#ffffff;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76
                                  S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.447-1.926
                                  c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367
                                  c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077
                                  c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109
                                  c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084
                                  c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789
                                  c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375"/>
                              </svg>
                                    </a>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>

                <div class="t228__padding40px"></div>
            </div>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                t228_highlight();
            });


            $(window).resize(function () {
                t228_setBg('11165241');
            });
            $(document).ready(function () {
                t228_setBg('11165241');
            });


        </script>


    </div>


    <div id="rec8619746" class="r" style=" " data-animationappear="off" data-record-type="18">
        <!-- cover -->

        <div class="t-cover" id="recorddiv8619746" bgimgfield="img"
             style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">

            <div class="t-cover__carrier" id="coverCarry8619746" data-content-cover-id="8619746"
                 data-content-cover-bg="/static/main_page/bigstock137424314.jpg" data-content-cover-height="100vh"
                 data-content-cover-parallax="fixed"
                 style="background-image:url('/static/main_page/bigstock137424314.jpg');height:100vh; "></div>

            <div class="t-cover__filter"
                 style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2000000', endColorstr='#b2000000');"></div>

            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                        <div class="t001 t-align_center">
                            <div class="t001__wrapper" data-hook-content="covercontent">
                                <div class="t001__uptitle t-uptitle t-uptitle_sm" style="" field="subtitle">
                                    <div style="color:rgba(255,255,255,0.7);" data-customstyle="yes"></div>
                                </div>
                                <h1 class="t001__title t-title t-title_xl" style="" field="title">We are ExtraBite</h1>
                                <div class="t001__descr t-descr t-descr_xl t001__descr_center" style="" field="descr">
                                    <div style="text-align:left;" data-customstyle="yes">We create awesome tools for
                                        After Effects that are easy to use and have zero learning curve.<br/>We walk
                                        extra mile, do extra time to give you an extra bite.
                                    </div>
                                </div>
                                <span class="space"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="rec11164953" class="r" style="padding-top:60px;padding-bottom:60px;background-color:#0a0a0a; "
         data-record-type="67" data-bg-color="#0a0a0a">
        <!-- T059 -->
        <div class="t059">
            <div class="t-container t-align_center">
                <div class="t-col t-col_12">
                    <div class="t059__text-impact t-text-impact t-text-impact_xs" style="color: #ffffff;" field="text">
                        <div style="font-size:34px;font-family:'Montserrat';" data-customstyle="yes"><span
                                style="font-size: 52px;">We've made these awesome tools</span><br/><span
                                style="font-size: 24px;">And gonna make more</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="rec6060321" class="r" style="padding-top:0px;padding-bottom:0px;background-color:#282828; "
         data-animationappear="off" data-record-type="335" data-bg-color="#282828">
        <!-- T335 -->


        <div class="t335">
            <div class="t-container_100">
                <div class="t335__col t-cell t-cell_33 t-align_center ">
                    <a href="http://aescripts.com/gifgun/" target="_blank">
                        <div class="t335__table" style="height:40vh;">
                            <div class="t335__cell t-align_center t-valign_middle">
                                <div class="t335__bg t335__animation_slow t335__bg_animated t-bgimg" bgimgfield="img"
                                     data-original="/static/main_page/gifgun.jpeg"
                                     style="background-image:url('/static/main_page/gifgun.jpeg');"></div>
                                <div class="t335__overlay t335__animation_slow" data-tu-ondrag-hide="yes"
                                     style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30));"></div>
                                <div class="t335__textwrapper t335__animation_slow ">
                                    <div class="t335__textwrapper__content">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a></div>
                <div class="t335__col t-cell t-cell_33 t-align_center ">
                    <a href="http://aescripts.com/origami/" target="">
                        <div class="t335__table" style="height:40vh;">
                            <div class="t335__cell t-align_center t-valign_middle">
                                <div class="t335__bg t335__animation_slow t335__bg_animated t-bgimg" bgimgfield="img2"
                                     data-original="/static/main_page/origami_poster.jpg"
                                     style="background-image:url('/static/main_page/origami_poster.jpg');"></div>
                                <div class="t335__overlay t335__animation_slow" data-tu-ondrag-hide="yes"
                                     style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30));"></div>
                                <div class="t335__textwrapper t335__animation_slow ">
                                    <div class="t335__textwrapper__content">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a></div>
                <div class="t335__col t-cell t-cell_33 t-align_center ">
                    <a href="http://aescripts.com/good-parents/" target="">
                        <div class="t335__table" style="height:40vh;">
                            <div class="t335__cell t-align_center t-valign_middle">
                                <div class="t335__bg t335__animation_slow t335__bg_animated t-bgimg" bgimgfield="img3"
                                     data-original="/static/main_page/gp_pic_2copy.png"
                                     style="background-image:url('/static/main_page/gp_pic_2copy.png');"></div>
                                <div class="t335__overlay t335__animation_slow" data-tu-ondrag-hide="yes"
                                     style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.30));"></div>
                                <div class="t335__textwrapper t335__animation_slow ">
                                    <div class="t335__textwrapper__content">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a></div>
            </div>
        </div>


    </div>


    <div id="rec11165052" class="r" style="padding-top:60px;padding-bottom:60px;background-color:#0a0a0a; "
         data-record-type="67" data-bg-color="#0a0a0a">
        <!-- T059 -->
        <div class="t059">
            <div class="t-container t-align_center">
                <div class="t-col t-col_12">
                    <div class="t059__text-impact t-text-impact t-text-impact_xs" style="color: #ffffff;" field="text">
                        <div style="font-size:34px;font-family:'Montserrat';" data-customstyle="yes"><span
                                style="font-size: 46px;">Companies and freelancers love our tools</span><br/><span
                                style="font-size: 24px;">Join the happy bunch!</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="rec11163996" class="r" style="padding-top:0px;padding-bottom:0px; " data-record-type="3">
        <!-- T107 -->
        <div class="t107">
            <div class="t-align_center" style="background-image: url('/static/main_page/allClients.png'); min-height: 700px; background-size: cover; background-repeat: no-repeat; background-position: center center;">
            </div>
        </div>
    </div>


    <div id="rec6076454" class="r" style="padding-top:90px;padding-bottom:45px;background-color:#0a0a0a; "
         data-record-type="33" data-bg-color="#0a0a0a">
        <!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__title t-title t-title_xxs" field="title">
                        <div style="color:#ffffff;" data-customstyle="yes">Subscribe to get the latest updates and
                            news
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="rec6062170" class="r" style="padding-top:0px;padding-bottom:90px;background-color:#0a0a0a; "
         data-record-type="210" data-bg-color="#0a0a0a">
        <!-- T186 -->
        <div class="t186">
            <form id="form6062170" name='form6062170' role="form" action='https://forms.tildacdn.com/procces/'
                  method='POST' data-formactiontype="2" data-inputbox=".t186__blockinput" class="js-form-proccess">
                <input type="hidden" name="formservices[]" value="dd2483fe29a14c0704c49f97cf36db3e"
                       class="js-formaction-services">

                <div class="t-container">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div>
                            <div class="js-errorbox-all t186__blockinput-errorbox" style="display:none;">

                                <div class="t186__blockinput-errors-text t-text t-text_md">
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-all"></p>
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-req">Required
                                        field</p>
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-email">Please
                                        correct e-mail address</p>
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-name">Name Wrong.
                                        Correct please</p>
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-phone">Please
                                        correct phone number</p>
                                    <p class="t186__blockinput-errors-item js-rule-error js-rule-error-string">Please
                                        enter letter, number or punctuation symbols.</p>
                                </div>
                            </div>
                            <div class="js-successbox t186__blockinput-success t-text t-text_md" style="display:none;">
                                Thanks for subscribing! Now you're gonna be in line with our newest tools and freebies!
                            </div>
                        </div>
                        <div class="t186__wrapper">
                            <div class="t186__blockinput">
                                <input type="text" name="EMAIL" class="t186__input t-input js-tilda-rule " value=""
                                       placeholder="Your E-mail" data-tilda-rule="email"
                                       style=" border:1px solid #ffffff; background-color:#ffffff; ">
                            </div>
                            <div class="t186__blockbutton">
                                <button type="submit" class="t-submit t186__submit"
                                        style="color:#ffffff;  background-color:#0f9fff; ">Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
<!--/allrecords-->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48108945-2', 'auto');
    ga('send', 'pageview');
    window.mainTracker = 'user';

    ga('create', 'UA-56589716-2', 'auto', {'name': 'tilda'});
    ga('tilda.send', 'pageview');
    if (!window.mainTracker) {
        window.mainTracker = 'tilda';
    }
</script>


</body>
</html>