.prize-feed__main {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    color: white;
    padding: 20px 0 0 0;
    background: #454545;
    margin-top: 30px;
}

.select-prize__button {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.prize-selector__main {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.gooses {
    margin: 20px 0 20px 0;
}

.gooses__selector-main {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

.app-header {
    margin: 0 0 10px 0;
    min-height: 130px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: cover;
    background-image: url('/static/img/HeaderBG.png');
    background-color: #3b57cc;
    background-repeat: no-repeat;
}

.app-logo-header {
    min-height: 100px;
    max-height: 110px;
    margin-top: 10px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-image: url('/static/img/LogoHeader.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__icon-toongoose {
    min-height: 25px;
    max-height: 25px;
    margin-top: 35px;
    cursor: pointer;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-image: url('/static/img/T_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.fb-share-button-my {
    min-height: 20px;
    max-height: 20px;
    margin-top: 48px;
    cursor: pointer;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-image: url('/static/img/fbicon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.prize-feed__logo-image {
    height: 135px;
    width: 135px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/static/img/T_logo_large.png');
}

.prize-feed__user-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.prize-feed__user-item-header {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.prize-feed__user-item-descr {
    text-align: center;
}

.prize-feed__descr {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.prize-feed__ribbon-image {
    position: relative;
    top: -38px;
    min-height: 40px;
    min-width: 450px;
    margin-bottom: -30px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: contain;
    background-image: url('/static/img/Ribbon_feed.png');
    background-repeat: no-repeat;
}

.congrats__header-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}

.congrats__header-text-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin: 20px;
}

.goose-icon {
    display: inline-block;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    margin: 0 10px -10px 10px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(100% * (1 / 7) - 10px - 1px);
}

.gooses__maxWidthContainer {
    max-width: 1300px;
}

.goose-icon:hover {
    -webkit-filter: drop-shadow(2px 1px 0 rgba(148, 148, 148, 0.64)) drop-shadow(-1px -1px 0 rgba(148, 148, 148, 0.64));
    filter: drop-shadow(2px 1px 0 rgba(148, 148, 148, 0.64)) drop-shadow(-1px -1px 0 rgba(148, 148, 148, 0.64));
}

.selected-goose-1 {
    -webkit-filter: drop-shadow(3px 3px 1px rgb(247, 85, 85)) drop-shadow(-3px -3px 1px rgb(247, 85, 85)) drop-shadow(3px -3px 1px rgb(247, 85, 85)) drop-shadow(-3px 3px 1px rgb(247, 85, 85)) !important;
    filter: drop-shadow(3px 3px 1px rgb(247, 85, 85)) drop-shadow(-3px -3px 1px rgb(247, 85, 85)) drop-shadow(3px -3px 1px rgb(247, 85, 85)) drop-shadow(-3px 3px 1px rgb(247, 85, 85)) !important;
}

.selected-goose-2 {
    -webkit-filter: drop-shadow(3px 3px 1px rgb(29, 94, 247)) drop-shadow(-3px -3px 1px rgb(29, 94, 247)) drop-shadow(3px -3px 1px rgb(29, 94, 247)) drop-shadow(-3px 3px 1px rgb(29, 94, 247)) !important;
    filter: drop-shadow(3px 3px 1px rgb(29, 94, 247)) drop-shadow(-3px -3px 1px rgb(29, 94, 247)) drop-shadow(3px -3px 1px rgb(29, 94, 247)) drop-shadow(-3px 3px 1px rgb(29, 94, 247)) !important;
}

.goose-icon__num-1 {
    background-image: url('/static/img/gc/1.png');
}

.goose-icon__num-2 {
    background-image: url('/static/img/gc/2.png');
}

.goose-icon__num-3 {
    background-image: url('/static/img/gc/3.png');
}

.goose-icon__num-4 {
    background-image: url('/static/img/gc/4.png');
}

.goose-icon__num-5 {
    background-image: url('/static/img/gc/5.png');
}

.goose-icon__num-6 {
    background-image: url('/static/img/gc/6.png');
}

.goose-icon__num-7 {
    background-image: url('/static/img/gc/7.png');
}

.goose-icon__num-8 {
    background-image: url('/static/img/gc/8.png');
}

.goose-icon__num-9 {
    background-image: url('/static/img/gc/9.png');
}

.goose-icon__num-10 {
    background-image: url('/static/img/gc/10.png');
}

.goose-icon__num-11 {
    background-image: url('/static/img/gc/11.png');
}

.goose-icon__num-12 {
    background-image: url('/static/img/gc/12.png');
}

.goose-icon__num-13 {
    background-image: url('/static/img/gc/13.png');
}

.goose-icon__num-14 {
    background-image: url('/static/img/gc/14.png');
}

.goose-icon__num-15 {
    background-image: url('/static/img/gc/15.png');
}

.goose-icon__num-16 {
    background-image: url('/static/img/gc/16.png');
}

.goose-icon__num-17 {
    background-image: url('/static/img/gc/17.png');
}

.goose-icon__num-18 {
    background-image: url('/static/img/gc/18.png');
}

.goose-icon__num-19 {
    background-image: url('/static/img/gc/19.png');
}

.goose-icon__num-20 {
    background-image: url('/static/img/gc/20.png');
}

.goose-icon__num-21 {
    background-image: url('/static/img/gc/21.png');
}

.selected-square-1 {
    background-color: #f75555;
    min-height: 120px;
    min-width: 120px;
    width: calc(100% * (1 / 7) - 10px - 1px);
    position: relative;
    top: -145px;
    left: 17px;
    z-index: -1;
}

.selected-square-2 {
    background-color: #698cf7;
    min-height: 120px;
    min-width: 120px;
    width: calc(100% * (1 / 7) - 10px - 1px);
    position: relative;
    top: -145px;
    left: 17px;
    z-index: -1;
}

.selected-square-hidden {
    display: none;
    background-color: #f75555;
    min-height: 120px;
    min-width: 120px;
    width: calc(100% * (1 / 7) - 10px - 1px);
    position: relative;
    top: -145px;
    left: 17px;
    z-index: -1;
}

.selected-square-large {
    background-color: #f75555;
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    width: calc(100% * (1 / 7) - 10px - 1px);
    position: relative;
    top: -223px;
    left: 22px;
    z-index: -1;
}

.selected-square-large-hidden {
    display: none;
    background-color: #698cf7;
    min-height: 200px;
    min-width: 200px;
    width: calc(100% * (1 / 7) - 10px - 1px);
    position: relative;
    top: -264px;
    left: 71px;
    z-index: -1;
}

.gooses__ribbon {
    position: relative;
    top: -40px;
    min-height: 40px;
    margin-bottom: -20px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: contain;
    background-image: url('/static/img/Ribbon_header.png');
    background-repeat: no-repeat;
}

.goose__was-send-image {
    position: relative;
    min-height: 100px;
    margin: 20px 0 20px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: contain;
    background-image: url('/static/img/Letter.png');
    background-repeat: no-repeat;
}

.prize-selector__description {
    font-size: 1.5em;
}

.prize-selector__prize {
    padding: 0 50px 0 50px;
    font-size: 14px;
}

.example-input .ant-input {
    width: 300px;
    margin: 8px 8px 8px 0;
}

.two__gooses-button {
    margin-top: -30px;
}

.large-icon {
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    max-width: 250px;
}

.gift-bubble__main {
    position: relative;
    min-height: 230px;
    min-width: 320px;
    margin: 20px;
    border-radius: 10px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-size: cover;
    background-image: url('/static/img/Gift_bubble.png');
    background-repeat: no-repeat;
}

/* The Modal (background) */
.modal__goose {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal__goose-content {
    position: fixed;
    background-color: #fefefe;
    width: 200px;
    margin-left: -160px;
    left: 50%;
    bottom: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal__goose-content-close {
    color: #c4c4c4;
    float: right;
    font-size: 18px;
    position: relative;
    right: 10px;
    cursor: pointer;
}

.modal__goose-content-description {
    font-size: 24px;
    color: white;
    position: relative;
    font-weight: 300;
    margin: 20px;
    padding-top: 30px;
    text-align: center;

}

.final__final-error {
}

.final__final-main {
    /*display: flex-block;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 20px;
}

.final__final-prize-image {
    min-height: 200px;
    max-height: 210px;
    margin-top: 20px;
    left: -20px;
    margin-bottom: 20px;
    background-position: 50% 50%; /* Sets reference point to scale from */
    background-image: url('/static/img/finp1.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 40%;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 40%;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}