Django==1.9.3
Fabric==1.10.2
django-webpack-loader==0.2.4
djangorestframework==3.5.3
markdown==2.6.7
django-filter==1.0.1
django-post-office==2.0.8
boto==2.44.0
django-ses==0.8.1
django-anymail==0.6.1